*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row>[class*="col-"]{
    padding: 5px;
}
.col-1{
      width: 8.33%;
  }
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.66%;
}
.col-11{
    width:91.99 %;
}
.col-12{
    width: 100%;
}
.img-1{
    height: 600px;
    overflow: hidden;
}
.img-1 img{
    width: 100%;
}
.text-1{
    padding: 20px;
}
.text-1 a{
    text-decoration: none;
}
.img-2{
    height: 600px;
    overflow: hidden;
}
.img-2 img{
    width: 100%;
}
.text-2{
    padding: 20px;
}
.text-2 h1 a{
    text-decoration: none;
}

.img-3{
    height: 600px;
    overflow: hidden;
}
.img-3 img{
    width: 100%;
}
.text-3{
    padding: 20px;
}
.text-3 h1 a{
    text-decoration: none;
}

